* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ConteudoLateral {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 100vh;
    background-color: #ccc;
    padding: 20px;
}

.LogoInsta {
    width: 50px;
    background-color: blue;
    margin-bottom: 20px;
}

.menuLateral {
    display: flex;
    list-style: none;
    flex-direction: column;
    margin-top: 20px;
}

.menuLateral li {
    margin-bottom: 10px;
}

.App {
    display: flex;
    flex-direction: row;
    background-color: cyan;
}

.Stories {
    background-color: #ffff;
    margin: auto;
    width: 40vw;
    height: 13vh;
}

.Postagens {
    background-color: brown;
    height: 80vh;
}